/* Reset start */
* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}
body {
	font: 400 14px/1 'Roboto', sans-serif;
}
a {
	color: inherit;
	text-decoration: none;
}
ul {
	list-style: none;
}
img {
	max-width: 100%;
}
/* Reset end */
/* Default classes start */

.hamburger-menu{
    display: none;
}.logo{
    width: 85px;
    height: 70px;
}.d-flex {
	display: flex;
}
.justify-content-between {
	justify-content: space-between;
}
.justify-content-center {
	justify-content: center;
}
.justify-content-around{
    justify-content: space-around;
}
.flex-column {
	flex-direction: column;
}
.align-items-center {
	align-items: center;
}
.flex-wrap {
	flex-wrap: wrap;
}
.text-center {
	text-align: center;
}
.text-right {
	text-align: right;
}
.text-uppercase {
	text-transform: uppercase;
}
/* Default classes end */
.container {
    width: 100%;
	margin: auto;
	padding: 0 15px;
}
.standart-section {
	padding: 80px 0;
}
.section-title {
	font-weight: 900;
	margin-bottom: 75px;
	font-size: 30px;
}
.col {
	width: 33.3333%;
    padding: 0 15px;
}
.row {
	margin: 0 -15px;
}
.btn {
	display: inline-block;
	padding: 16px 60px;
	font: 400 14px/1 'Roboto', sans-serif;
	border-radius: 50px;
	border: 2px solid yellow;
    cursor: pointer;
    background-color: yellow;
	color: #212121;
}
.btn.btn-default:hover {
	background-color: #fff;
}
#header {
	padding: 20px;
	border-bottom: 2px solid #00e9ba;
	background-color: #0C42A5;
    box-shadow: 0 3px 20px rgba(0, 0, 0, 0.2);
}
.header-nav {
	font-size: 16px;
    font-weight: 700;
    color: #fff;
}
.header-nav a + a {
	margin-left: 30px;
}
.header-nav a:hover {
    color: white;
    padding-bottom: 40px;
    border-bottom: 3px solid white;
}
.backround-img{
    padding-top: 50px;
    background: url(../img/back.jpg);
    height: 500px;
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}
.bg-title{
    margin-top: 85px;
    color: #fff;
    padding: 20px;
    display: flex;
    font-size: 45px;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    z-index: 1;
}
.bg-title>h1{
    background-color: rgba(0, 0, 0, 0.4);
    width: 50%;
    padding: 5px;
}
.univer-item {
	background-color: #fff;
    box-shadow: 0 13px 27px rgba(0, 0, 0, 0.15);
    border-radius: 15px;
	padding: 20px;
	margin-bottom: 30px;
	position: relative;
}
.univer-img{
    width: 350px;
    height: 250px;
}

.card-img {
	display: block;
	margin-bottom: 20px;
}
.univer-item>h1{
    font-size: 30px;
    margin-bottom: 7px;
    text-align: center;
}

.univer-more {
	font-size: 14px;
	font-weight: 700;
	color: #db781b;
}

.some-univer{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 5%;
}

.ad-img{
    background: url(../img/ad.jpg);
    height: 500px;
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}
.ad-text{
    width: 50%;
}
.ad-text>h1{
    margin-top: 85px;
    margin-left: 5px;
    color: #000;
    padding: 20px;
    display: flex;
    font-size: 45px;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    background-color: white;
}
.ad-submit{
    width: 50%;
}
.ad-submit p{
    color: #000;
    opacity: .5;
    margin-bottom: 5px;
}
.aplication-card{
    width: 100%;
    margin: auto;
    margin-top: 80px;
}
input{
    width: 250px;
    height: 40px;
    padding: 10px;
}
input+input{
    margin-top: 15px;
}

.ad-submit>.univer-item{
    width: 300px;
}
.news{
    width: 97%;
    margin: auto;
    background-color: #fff;
    box-shadow: 0 13px 27px rgba(0, 0, 0, 0.15);
    padding-top: 15px;
    margin-bottom: 30px;
}
.news-img{
    width: auto;
}
.content-img{
    width: 400px;
}
.news-content{
    margin-bottom: 7px;
}
.news-content:not(:last-child){
    border-bottom: 1px solid grey;
    padding-bottom: 5px;
}
.news-text{
    margin-left: 5px;  
}
.col-4{
    width: 33.3333%;
    padding: 0 15px;
}
.profile-item  {
	background-color: #fff;
    box-shadow: 0 13px 27px rgba(0, 0, 0, 0.15);
    border-radius: 15px;
    padding: 10px;
	}
.name{
    font-weight: bold;
    font-size: 16px;
    color: rgb(151, 103, 69);
}
.age{
    font-weight: bold;
}
.cirkle-img{
    width: 150px;
    clip-path: circle(38%);
}
.ad2-img{
    background: url(../img/ad2.jpg);
    height: 500px;
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}
.footer{
    margin-top: 12%;
    padding-left: 5%;
    width: 100%;
    background-color: #756969;
    height: 150px;
    color: white;
    font-size: 10px;
}
.network{
    width: 30%;
}
a+a{
    margin-left: 30px;
}
.contact-item>h1{
    padding-left: 10px;
}
.contact-item+.contact-item{
    margin-top: 5px;
}
.autor{
    background-color: #212121;
    color: white;
    padding: 1.1%;
    width: 100%;
}
@media screen and (max-device-width:360px){ 
    p{
        font-size: 24px;
    }  
    #menu__toggle {
    opacity: 0;
    }
    
    #menu__toggle:checked ~ .menu__btn > span {
    transform: rotate(45deg);
    background-color: #000;
    }
    #menu__toggle:checked ~ .menu__btn > span::before {
    top: 0;
    transform: rotate(0);
    background-color: #000;
    }
    #menu__toggle:checked ~ .menu__btn > span::after {
    top: 0;
    transform: rotate(90deg);
    background-color: #000;
    
    }

    .col{
        padding-bottom: 40%;
    }
    #menu__toggle:checked ~ .menu__box {
    visibility: visible;
    right: 0;
    }
    
    .menu__btn {
    display: flex;
    align-items: center;
    position: absolute;
    top: 40px;
    right: 80px;
    
    
    width: 26px;
    height: 26px;
    
    cursor: pointer;
    z-index: 1;
    }
    
    .menu__btn > span,
    .menu__btn > span::before,
    .menu__btn > span::after {
    display: block;
    position: absolute;
    
    width: 100%;
    height: 2px;
    
    background-color: white;
    
    transition-duration: .25s;
    }
    .menu__btn > span::before {
    content: '';
    top: -8px;
    }
    .menu__btn > span::after {
    content: '';
    top: 8px;
    }
    
    .menu__box {
    display: block;
    position: absolute;
    visibility: hidden;
    top: 0;
    right: 1%;
    
    width: 300px;
    height: 30%;
    
    margin: 0;
    padding: 80px 0;
    
    list-style: none;
    
    background-color: #ECEFF1;
    box-shadow: 1px 0px 6px rgba(0, 0, 0, .2);
    
    transition-duration: .25s;
    }
    
    .menu__item {
    display: block;
    padding: 12px 24px;
    color: #333;
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    font-weight: 600;
    text-decoration: none;
    transition-duration: .25s;
    }
    .menu__item:hover {
    background-color: #CFD8DC;
    }
    #header{
    width: 100%;
    margin: auto;
}
    .container{
        width: 100%;
    }
    .col{
        width: 60%;
        margin: auto;
        height: 300px;
        margin-bottom: 15%;
    }
    .col-4{
        width: 33.3333%;
    padding: 0 15px;
    margin-bottom: 10%;
    }
    .profile-item{
        margin-bottom: 3%;
    }
    .news-img{
        display: none;
    }
    .news-title{
        margin: auto;
        font-size: 14px;
    }
    .univer-img{
        width: 80%;
        margin-left: 10%;
    }
    .backround-img{
        background-attachment: local;
    }
    .ad-img{width: 100%;
        background-attachment: local;
    }
    .ad2-img{
        background-attachment: local;
    }
    .news-post p{
        font-size: 10px;
    }
    .news-more{
        font-size: 12px;
        color:red
    }
    .header-nav{
        display: none;
    }
    .hamburger-menu{
        display: block;
    }
   
}